#main-home {
    background-color: #f6f6f6;
    min-height: calc(100vh - 20rem - 4rem);
    padding-bottom: 25px;
}

.home-page-top {
    margin-top: -230px;
}

#joboonja-title {
    position: relative;
    color: #00858d;
    font-size: 32px;
}

#joboonja-desc {
    position: relative;
}

#joboonja-search {
    margin-top: 2rem;
    position: relative;
}

.search-bar {
    box-shadow: 0 3px 0 0 #00aebf;
    border-radius: 0;
    padding: 4px;
    background-color: #d7f8fa;
    display: inline-block;
    width: 100%;
}

.search-input {
    border: none;
    background-color: #d7f8fa;
    outline-width: 0;
    width: calc(100% - 80px);
    text-align: right;
}

.search-input::placeholder {
    color: #6badaf;
}

.search-button {
    padding: 6px;
    background-color: #00aebf;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 0;
    border: none;
    margin-right: 10px;
    width: 70px;
}

.home-page-content {
    margin-top: -25px;
}

.user-search {
    width: 100%;
    height: 50px;
    padding-right: 5%;
    outline: none;
    border-radius: 5px;
    border: 4px solid white;
    margin-bottom: 10px;
}

.home-user-card {
    background-color: white;
    width: 100%;
    padding: 7px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 7px;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
}

.home-user-card:hover {
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
}

.home-user-image {
    width: auto;
    height: 100%;
    border-radius: 5px;
    margin-left: 7px;
}

.home-user-name {
    color: black;
}

.home-user-job {
    color: gray;
    font-size: 12px;
}

.home-project-card {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 30px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
}

.home-project-card:hover {
    box-shadow:0 .5rem 1rem rgba(0,0,0,.15);
}

.home-project-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    margin-left: 30px;
    background-size: 200px;
}

.home-project-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    width: calc(100% - 130px);
    color: black;
}

.home-project-desc {
    margin-bottom: 5px;
}

.home-project-budget {
    color: darkcyan;
    font-weight: bold;
    margin-bottom: 5px;
}

.home-project-skills {
    color: darkgray;
    align-items: center;
}

.home-project-skill {
    display: inline-block;
    background-color: #f8f9fa;
    border-radius: 5px;
    color: gray;
    margin: 5px;
    padding: 2px 5px 2px 5px;
    font-size: 13px;
    font-weight: bold;
}

.home-project-firstrow {
    display: flex;
    justify-content: space-between;
}

.home-project-time-remaining {
    background-color: #f5f5f5;
    color: #565656;
    font-size: 14px;
    height: fit-content;
    padding: 3px;
    border-radius: 5px;
    width: 130px;
    margin-right: 5px;
}

.disabled-project {
    pointer-events: none;
    opacity: 0.5;
}